.create_product {
    padding: 1rem;
}

.create-product_input {
    padding: 0 16px;
    gap: 10px;
    height: 48px;
    width: 20rem;
    background: #ffffff;
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    }

    .form_edit_inputs {
        max-width: 740px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }