.user-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    margin-right: 20px;
  }

  .user__links {
    text-decoration: none;
    font-size: 10px;
    color: #1A1A1A;
  }